

.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
/* Sidebar Styles */
.sidebar {
  width: 16%;
  max-width: 210px;
  background-color: #2c3e50;
  color: #ecf0f1;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #34495e;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 15px;
  color:#ecf0f1;
  gap: 10px;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid #34495e;
  transition: background-color 0.3s;
  
}

.sidebar-link:hover, .sidebar-link.active {
  background-color: rgb(141, 206, 226);
}

.icon {
  flex-shrink: 0;
}

.dropdown-menu {
  list-style: none;
  padding-left: 20px;
  background-color: #34495e;
}

.dropdown-link {
  display: block;
  padding: 10px;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;

  transition: background-color 0.3s;


}

.dropdown-link:hover, .dropdown-link.active {
  background-color: #73c6df;
}

.arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Main content styles */
.main-content {
  flex: 1;
  background-color: #ecf0f1;
  overflow: auto;
  transition: margin-left 0.3s ease-in-out;
  padding: 5px 10px;

}

.menu-button {
  display: none; /* Default: tidak terlihat di desktop */
  position: absolute;
  top: 5px;
  left: 10px;
  background: none;
  border: none;
  color: rgb(180, 181, 182);
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}
.menu-button:hover {
  color: rgb(108, 110, 112);
}

/* Sidebar Responsif */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -260px; /* Sidebar disembunyikan */
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }

  .sidebar.open {
    left: 0; /* Sidebar muncul saat tombol diklik */
  }

  .menu-button {
    display: block; /* Muncul di mobile */
  }

  .main-content {
    margin-left: 0; /* Pastikan tidak terpengaruh sidebar */
    width: 100%;
    padding: 20px 10px;
  }
  .sidebar-header {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .sidebar-header {
    font-size: 16px;
  }

}


/* Sidebar toggle button */
.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #2980b9;
  color: #ecf0f1;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1100;
}

.sidebar-toggle:hover {
  background-color: #1abc9c;
}
