/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .home-container {
    display: flex;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 300px;
    background-color: #2b3e50;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar-header h3 {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 10px 15px;
    cursor: pointer;
    
  }
  
  .sidebar-menu li.active,
  .sidebar-menu li:hover {
    background-color: #1a2938;
  }
  
  .sidebar-menu li.disabled {
    color: #666;
    cursor: not-allowed;
  }
  
  /* Main content styles */
  .main-content {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  .dashboard .card {
    background-color: #fff;
    width: 50%;
    height: 50%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-menu li a {
    color: inherit; /* Warna mengikuti elemen induk (li) */
    text-decoration: none; /* Hilangkan garis bawah */
  }
  
  
  