body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.dashboard-container {
 
  justify-content: space-between; /* Pisahkan elemen ke kiri dan kanan */
  align-items: center; /* Ratakan elemen secara vertikal */
  padding: 20px 20px;
width:80%;
  border-radius: 10px;
  border-bottom: 1px solid #e9ecef;
  margin-top: 10px;
  height: 310px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: 530;
  color: #426372;
  margin-bottom: 10px;
  text-align: left;
}

.dashboard-subtitle {
  font-size: 1rem;
  color: #555;
  text-align: left;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0px;
}

.card {
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 70%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card .value {
  font-size: 1.8rem;
  font-weight: bold;
  color: #81c6e6;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-animate {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
