body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.dashboard-container {
 
  justify-content: space-between; /* Pisahkan elemen ke kiri dan kanan */
  align-items: center; /* Ratakan elemen secara vertikal */
  padding: 20px 20px;
width:100%;
  border-radius: 10px;
  border-bottom: 1px solid #e9ecef;
  margin-top: 10px;
  height: 100vh; 
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: 530;
  color: #426372;
  margin-bottom: 10px;
  text-align: left;
}

.dashboard-subtitle {
  font-size: 1rem;
  color: #555;
  text-align: left;
}

.dashboard-content {
  display: flex;
  flex-direction: column; /* Atur elemen secara vertikal */
  gap: 20px; /* Jarak antar elemen */
}
.card-container {
  display: flex;
  flex-wrap: wrap; /* Agar kartu beralih ke baris baru jika tidak cukup ruang */
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 380px;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  width: 60px;
  height: 60px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.card-content {
  flex: 1;
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0 0;
}
.chart-container {
  flex-shrink: 0; /* Pastikan chart-container tidak menyusut */
  width: 400px; /* Atur ukuran chart sesuai kebutuhan */
}
.chart-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #426372;
  margin-bottom: 20px;
  text-align: center;
}
