/* Login.css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.login-card {
    background: #ffffff;
    color: #333;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.login-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.login-card p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.login-input:focus {
    border-color: #764ba2;
    outline: none;
    box-shadow: 0 0 5px rgba(118, 75, 162, 0.5);
}

.login-button {
    padding: 12px;
    background: linear-gradient(135deg, #73c6df, #2c3e50);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: linear-gradient(135deg, #73c6df, #45617e);
}
  